.login-container {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;

  padding: 40px;
  background-color: #846b6bd5;
  border-radius: 8px;
  min-height: 300px;
}


h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;

  &:focus {
    border-color: black;
    outline: none;
  }
}


.error-message {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

button {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
}
.error-message-session,.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #f5c6cb;
}

