.example-sidenav {
  background-color: #846b6bd5;
  display: inline;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 0;
}

mat-drawer {
  width: 250px;
  background: #f4f4f4;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-drawer-container {
  height: 100vh;
  display: inline;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}
