.example-sidenav {
  background-color: #846b6bd5;
  display: inline; /* Change display to inline to cover the full left side of the screen */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to cover the full viewport */
  border-radius: 0;
}

mat-drawer {
  width: 250px;  // Ancho del menú
  background: #f4f4f4;  // Color de fondo
}
.mat-drawer-inner-container {
  overflow: hidden !important; // Evita el scroll
  height: 100vh; // Ocupar toda la pantalla
  display: flex;
  flex-direction: column;
}

mat-drawer-container {
  height: 100vh;  // Ocupar toda la pantalla
  display: inline;
}

.button-container {
  display: flex;
  flex-direction: column; /* Pone los botones uno debajo del otro */
  justify-content: center; /* Centra los botones en el medio */
  align-items: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  gap: 10px; /* Añade una pequeña distancia entre los botones */
}
