<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="button-container">
        <div class="button-container">
          <button mat-raised-button (click)="goToClases()">Administrar Clases</button>
<button mat-raised-button (click)="goToStudents()">Administrar Estudiantes</button>
<button mat-raised-button (click)="goToCourses()">Administrar Cursos</button>

        </div>

      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <app-toolbar (drawerT)="drawer.toggle()"></app-toolbar>
    </div>
  </mat-drawer-container>
</div>
