<div class="form-container">
  <span appLetterSize>Agregando estudiante</span>

  <form [formGroup]="studentsForm" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstName" matInput (blur)="markAsTouched('firstName')">
          <mat-error *ngIf="isFieldRequired('firstName')">El nombre es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput (blur)="markAsTouched('lastName')">
          <mat-error *ngIf="isFieldRequired('lastName')">El apellido es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Edad</mat-label>
          <input matInput (blur)="markAsTouched('age')" formControlName="age" />
          <mat-error *ngIf="isFieldRequired('age')">La edad es requerida</mat-error>
          <mat-error *ngIf="isFieldInvalidPattern('age')">Solo se permiten números</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cursos</mat-label>

            <mat-select formControlName="courses" (blur)="markAsTouched('courses')" multiple (selectionChange)="removeCourse($event)">
              <mat-option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</mat-option>
            </mat-select>

          </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="perfil" (blur)="markAsTouched('perfil')">
            <mat-option value="desarrollador">Desarrollador</mat-option>
            <mat-option value="IT">IT</mat-option>
            <mat-option value="usuario final">Usuario Final</mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldRequired('perfil')">El perfil es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo" (blur)="markAsTouched('sexo')">
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="femenino">Femenino</mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldRequired('sexo')">El sexo es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button type="submit">Guardar</button>
    <button mat-raised-button type="button" (click)="cancelEdit.emit()" style="margin-left: 8px;">Cancelar</button>
  </form>
</div>
