:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8a7a7ad5;
}

.centered-container {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
}

.with-background {
  background-color: #846b6bd5;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000000;
  margin-bottom: 1.5rem;
}

p {
  color: #242222;
  line-height: 1.6;
}

mat-spinner {
  margin: 0 auto;
}
