.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.mat-typography {
  background-color: #8a7a7ad5;
}

.with-background {
  background-color: #8a7a7ad5;
  padding: 20px;
}

button {
  margin-bottom: 20px;
}

table {
  background-color: #846b6bd5;
  margin-top: 40px;
}

mat-form-field {
  background-color: #846b6bd5;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre los campos */
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los botones */
  margin-top: 20px;
}

button {
  margin-bottom: 20px;
}
