
<div *ngIf="isAdmin$ | async" class="centered-container with-background">
  <form (ngSubmit)="addCourse(courseForm.value)" #courseForm="ngForm" class="form-container">
    <mat-form-field>
      <mat-label>Curso</mat-label>
      <input matInput required name="name" [(ngModel)]="selectedCourse.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input matInput required name="description" [(ngModel)]="selectedCourse.description">
    </mat-form-field>


    <div class="form-buttons">
      <button mat-raised-button type="submit" color="primary">Agregar</button>
      <button mat-raised-button type="button" >Cancelar</button>
    </div>
  </form>
</div>

<div class="centered-container with-background">
  <button *ngIf="isAdmin$ | async" mat-raised-button  (click)="toggleForm()">Agregar curso</button>

  <table mat-table [dataSource]="courses" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let course"> {{ course.name }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let course"> {{ course.description }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let course">
        <button *ngIf="isAdmin$ | async" mat-icon-button (click)="editCourse(course)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isAdmin$ | async" mat-icon-button color="warn" (click)="deleteCourse(course)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/courses', course.id]">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
